# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print("Georgina Woo")

Georgina Woo

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
df = pd.read_csv('data/listings.csv')

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [5]:
# 1. How many listings are there with a price less than 100? 
print("1. How many listings are there with a price less than 100?")
print(len(df[df['price'] < 100]))

1. How many listings are there with a price less than 100?
22778

In [6]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
print("2. Make a new DataFrame of listings in Brooklyn named `df_bk` and find how many listings in just Brooklyn.")
df_bk = df[df['neighbourhood_group'] == 'Brooklyn']
print(len(df_bk))

2. Make a new DataFrame of listings in Brooklyn named `df_bk` and find how many listings in just Brooklyn.
18632

In [7]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
print("3. Find how many listings there are in Brooklyn with a price less than 100.")
print(len(df_bk[df_bk['price'] < 100]))

3. Find how many listings there are in Brooklyn with a price less than 100.
10473

In [8]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
print("4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel. How many total are there that have those names")
print(len(df[df['host_name'].isin(['Michael', 'David', 'John', 'Daniel'])]))

4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel. How many total are there that have those names
1258

In [9]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
print("5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.")
df['adjusted_price'] = np.where(df['neighbourhood'] == 'Williamsburg', df['price'] + 100, df['price'])

5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.

In [10]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
print("6. What % of the rooms are private, and what % of the rooms are shared.")
room_types = df['room_type'].value_counts()
print("Private rooms:",str((room_types['Private room'] / room_types.sum()) * 100)+"%")
print("Shared rooms: ", str((room_types['Shared room'] / room_types.sum()) * 100)+"%")

6. What % of the rooms are private, and what % of the rooms are shared.
Private rooms: 45.444580566122895%
Shared rooms:  2.12134889419047%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [11]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
print("1. Using `groupby`, count how many listings are in each neighbourhood_group.")
print(df.groupby('neighbourhood_group').size())

1. Using `groupby`, count how many listings are in each neighbourhood_group.
neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
print("2. Using `groupby`, find the mean price for each of the neighbourhood_groups.")
print(df.groupby('neighbourhood_group')['price'].mean())

2. Using `groupby`, find the mean price for each of the neighbourhood_groups.
neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [13]:
# 2.5. Using `groupby`, find the mean price for each room_type. 
print("2.5. Using `groupby`, find the mean price for each room_type.")
print(df.groupby('room_type')['price'].mean())

2.5. Using `groupby`, find the mean price for each room_type.
room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [14]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
print("3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.")
print(df.groupby('neighbourhood_group')['price'].agg([min, max]))

3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups.
                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [15]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
print("4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.")
print(df.groupby(['neighbourhood_group', 'room_type'])['price'].mean())

4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
neighbourhood_group  room_type
Bronx                Entire home/apt    138.004819
                     Private room        68.419668
                     Shared room         66.391304
Brooklyn             Entire home/apt    171.587687
                     Hotel room         147.300000
                     Private room        71.291189
                     Shared room         57.870091
Manhattan            Entire home/apt    231.335572
                     Hotel room         292.515670
                     Private room       128.277069
                     Shared room        111.735084
Queens               Entire home/apt    150.168900
                     Hotel room         139.058824
                     Private room        69.972564
                     Shared room         89.891892
Staten Island        Entire home/apt    151.720930
                     Private room        70.312883
                     Shared room         46.000000
Name: price, dtype: float64

In [16]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
print("5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.")
print(df.groupby(['neighbourhood_group', 'room_type'])['price'].agg(['count', min, max, np.mean, np.median, np.std]))


#agg is a function that lets you run a bunch of functions on a groupby object.

5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.
                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [17]:
# 1. Load the `prices.csv` and the `n_listings.csv`
print("1. Load the `prices.csv` and the `n_listings.csv`")
prices = pd.read_csv('data/prices.csv')
n_listings = pd.read_csv('data/n_listings.csv')

1. Load the `prices.csv` and the `n_listings.csv`

In [18]:
print(prices.head())
print(n_listings.head())
print(prices.shape)
print(n_listings.shape)

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214
  neighbourhood_group;n_listings
0                     Bronx;1183
1                 Brooklyn;18632
2                Manhattan;20580
3                LongIsland;4121
(5, 2)
(4, 1)

In [19]:
# Since n_listings is shaped 4,1 and separated by semicolon, we need to turn it into 4,2
n_listings = n_listings['neighbourhood_group;n_listings'].str.split(';', expand=True)

In [20]:
print(n_listings.head())

            0      1
0       Bronx   1183
1    Brooklyn  18632
2   Manhattan  20580
3  LongIsland   4121

In [21]:
# Fix the `n_listings` DataFrame so that it has the correct names of the columns: `neighbourhood_group` and `n_listings`
n_listings.columns = ['neighbourhood_group', 'n_listings']

In [22]:
# 2. Do join that keeps all the records for each table. Neibourhood groups should include: Bronx, Brooklyn, Manhattan, Queens, Staten Island, LongIsland.
print("2. Do join that keeps all the records for each table. Neibourhood groups should include: Bronx, Brooklyn, Manhattan, Queens, Staten Island, LongIsland.")
print(pd.merge(prices, n_listings, on='neighbourhood_group', how='outer'))

2. Do join that keeps all the records for each table. Neibourhood groups should include: Bronx, Brooklyn, Manhattan, Queens, Staten Island, LongIsland.
  neighbourhood_group   mean_price n_listings
0               Bronx    92.751479       1183
1            Brooklyn   120.225258      18632
2           Manhattan   191.880466      20580
3              Queens    99.754965        NaN
4       Staten Island   110.947214        NaN
5          LongIsland          NaN       4121

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

## To install the `pandasai` package using a bash command, you can use the following command:

```bash
pip install pandasai
```

This command will install the `pandasai` package using the `pip` package manager.

Documentation: https://docs.pandas-ai.com/intro

In [2]:
from pandasai import SmartDataframe
from pandasai.llm import OpenAI

In [25]:

llm = OpenAI(api_token="api-token-here")
pandas_ai = SmartDataframe("data/listings.csv", config={"llm": llm})

In [33]:
df = pd.read_csv('data/listings.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

In [ ]:
pandas_ai.run(df, prompt="What is the average price of listings in Brooklyn?")

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

1: Pandasql
pip install pandasql

In [ ]:
import pandas as pd
import pandasql as psql

df = pd.read_csv('data/listings.csv')

query = "SELECT * FROM df LIMIT 5"

# Execute the query
result = psql.sqldf(query, locals())

print(result)

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [19]:
# Load the Grammy Awards data
df = pd.read_csv('data/grammys.csv')

#print(df.head())

# Find the Album of the Year winner for 2016
album_of_the_year_2016 = df[(df['year'] == 2016) & (df['category'] == 'Album of the Year') & (df['winner'] == True)]
print("Album of the year winner in 2016: ")
for index, row in album_of_the_year_2016.iterrows():
    print(f" - {row['nominee']} by {row['workers']}")

# Find the Best Rap Album winner for 2009
best_rap_album_2009 = df[(df['year'] == 2009) & (df['category'] == 'Best Rap Album') & (df['winner'] == True)]
print("Best rap album 2009: ")
for index, row in best_rap_album_2009.iterrows():
    print(f" - {row['nominee']} by {row['workers']}")

# Find Kendrick Lamar's nominations
kendrick_nominations = df[df['workers'] == 'Kendrick Lamar']

# Count the number of nominations
num_nominations = kendrick_nominations.shape[0]

# Count the number of awards won
num_wins = kendrick_nominations[kendrick_nominations['winner'] == True].shape[0]

print(f"Kendrick Lamar was nominated for {num_nominations} awards and won {num_wins} awards.")

Album of the year winner in 2016:
 - 1989. by Taylor Swift (artist/producer), Jack Antonoff (producer/engineer/mixer), Nathan Chapman (producer/engineer/mixer), Imogen Heap (producer/engineer/mixer), Max Martin (producer), Mattias Larsson (producer), Robin Fredriksson (producer), Ali Payami (producer), Shellback (producer), Ryan Tedder (producer/engineer/mixer), Noel Zancanella (producer), Mattias Bylund (engineer/mixer), Serban Ghenea (engineer/mixer), John Hanes (engineer/mixer), Sam Holland (engineer/mixer), Michael Ilbert (engineer/mixer), Tom Coyne (mastering engineer)
Best rap album 2009:
 - Tha Carter III by Lil' Wayne
Kendrick Lamar was nominated for 6 awards and won 4 awards.

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

In [21]:
#load data/gl2022.txt as df
df = pd.read_csv('data/gl2022.txt', sep=',', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,151,152,153,154,155,156,157,158,159,160
0,20220407,0,Thu,SDN,NL,1,ARI,NL,1,2,...,Seth Beer,10,ellid002,Drew Ellis,5,perdg001,Gerardo Perdomo,6,NaN,Y
1,20220407,0,Thu,CIN,NL,1,ATL,NL,1,6,...,Travis d'Arnaud,2,dicka001,Alex Dickerson,10,swand001,Dansby Swanson,6,NaN,Y
2,20220407,0,Thu,MIL,NL,1,CHN,NL,1,4,...,Jason Heyward,8,wisdp001,Patrick Wisdom,5,hoern001,Nico Hoerner,6,NaN,Y
3,20220407,0,Thu,PIT,NL,1,SLN,NL,1,0,...,Yadier Molina,2,badeh001,Harrison Bader,8,edmat001,Tommy Edman,4,NaN,Y
4,20220407,0,Thu,NYN,NL,1,WAS,NL,1,5,...,Maikel Franco,5,escoa003,Alcides Escobar,6,roblv001,Victor Robles,8,NaN,Y

Found it (glfields.txt)

In [31]:
import re

In [32]:
# Path to the downloaded text file
file_path = "data/glfields.txt"

# Initialize an empty dictionary to store column names
column_dict = {}

# Function to handle range-based columns
def handle_range(start, end, description):
    parts = description.split(",")
    num_columns = (end - start + 1)
    if len(parts) == num_columns:  # If description perfectly matches the number of columns
        for i in range(start, end + 1):
            column_dict[i] = parts[i - start].strip()
    else:  # If description is vague, just use numbers
        for i in range(start, end + 1):
            column_dict[i] = f"{description.strip()} ({i - start + 1})"

# Open the file and parse it line by line
with open(file_path, 'r') as file:
    for line in file:
        # Strip leading/trailing whitespace
        line = line.strip()

        # Match lines with columns (e.g., '1', '4-5', '106-132')
        match = re.match(r'^(\d+)(?:-(\d+))?\s+(.*)', line)
        if match:
            start_col = int(match.group(1))
            end_col = int(match.group(2)) if match.group(2) else start_col
            description = match.group(3).strip()

            if start_col != end_col:  # Handle range columns
                handle_range(start_col, end_col, description)
            else:  # Single column
                column_dict[start_col] = description

for col_num, col_name in column_dict.items():
    print(f"Column {col_num}: {col_name}")

Column 1: Date in the form "yyyymmdd"
Column 2: Number of game:
Column 3: Day of week  ("Sun","Mon","Tue","Wed","Thu","Fri","Sat")
Column 4: Visiting team and league (1)
Column 5: Visiting team and league (2)
Column 6: Visiting team game number
Column 7: Home team and league (1)
Column 8: Home team and league (2)
Column 9: Home team game number
Column 10: Visiting and home team score (unquoted) (1)
Column 11: Visiting and home team score (unquoted) (2)
Column 12: Length of game in outs (unquoted).  A full 9-inning game would
Column 13: Day/night indicator ("D" or "N")
Column 14: Completion information.  If the game was completed at a
Column 15: Forfeit information:
Column 16: Protest information:
Column 17: Park ID
Column 18: Attendance (unquoted)
Column 19: Time of game in minutes (unquoted)
Column 20: Visiting and home line scores.  For example: (1)
Column 21: Visiting and home line scores.  For example: (2)
Column 22: Visiting team offensive statistics (unquoted) (in order): (1)
Column 23: Visiting team offensive statistics (unquoted) (in order): (2)
Column 24: Visiting team offensive statistics (unquoted) (in order): (3)
Column 25: Visiting team offensive statistics (unquoted) (in order): (4)
Column 26: Visiting team offensive statistics (unquoted) (in order): (5)
Column 27: Visiting team offensive statistics (unquoted) (in order): (6)
Column 28: Visiting team offensive statistics (unquoted) (in order): (7)
Column 29: Visiting team offensive statistics (unquoted) (in order): (8)
Column 30: Visiting team offensive statistics (unquoted) (in order): (9)
Column 31: Visiting team offensive statistics (unquoted) (in order): (10)
Column 32: Visiting team offensive statistics (unquoted) (in order): (11)
Column 33: Visiting team offensive statistics (unquoted) (in order): (12)
Column 34: Visiting team offensive statistics (unquoted) (in order): (13)
Column 35: Visiting team offensive statistics (unquoted) (in order): (14)
Column 36: Visiting team offensive statistics (unquoted) (in order): (15)
Column 37: Visiting team offensive statistics (unquoted) (in order): (16)
Column 38: Visiting team offensive statistics (unquoted) (in order): (17)
Column 39: Visiting team pitching statistics (unquoted)(in order): (1)
Column 40: Visiting team pitching statistics (unquoted)(in order): (2)
Column 41: Visiting team pitching statistics (unquoted)(in order): (3)
Column 42: Visiting team pitching statistics (unquoted)(in order): (4)
Column 43: Visiting team pitching statistics (unquoted)(in order): (5)
Column 44: Visiting team defensive statistics (unquoted) (in order): (1)
Column 45: Visiting team defensive statistics (unquoted) (in order): (2)
Column 46: Visiting team defensive statistics (unquoted) (in order): (3)
Column 47: Visiting team defensive statistics (unquoted) (in order): (4)
Column 48: Visiting team defensive statistics (unquoted) (in order): (5)
Column 49: Visiting team defensive statistics (unquoted) (in order): (6)
Column 50: Home team offensive statistics (1)
Column 51: Home team offensive statistics (2)
Column 52: Home team offensive statistics (3)
Column 53: Home team offensive statistics (4)
Column 54: Home team offensive statistics (5)
Column 55: Home team offensive statistics (6)
Column 56: Home team offensive statistics (7)
Column 57: Home team offensive statistics (8)
Column 58: Home team offensive statistics (9)
Column 59: Home team offensive statistics (10)
Column 60: Home team offensive statistics (11)
Column 61: Home team offensive statistics (12)
Column 62: Home team offensive statistics (13)
Column 63: Home team offensive statistics (14)
Column 64: Home team offensive statistics (15)
Column 65: Home team offensive statistics (16)
Column 66: Home team offensive statistics (17)
Column 67: Home team pitching statistics (1)
Column 68: Home team pitching statistics (2)
Column 69: Home team pitching statistics (3)
Column 70: Home team pitching statistics (4)
Column 71: Home team pitching statistics (5)
Column 72: Home team defensive statistics (1)
Column 73: Home team defensive statistics (2)
Column 74: Home team defensive statistics (3)
Column 75: Home team defensive statistics (4)
Column 76: Home team defensive statistics (5)
Column 77: Home team defensive statistics (6)
Column 78: Home plate umpire ID and name (1)
Column 79: Home plate umpire ID and name (2)
Column 80: 1B umpire ID and name (1)
Column 81: 1B umpire ID and name (2)
Column 82: 2B umpire ID and name (1)
Column 83: 2B umpire ID and name (2)
Column 84: 3B umpire ID and name (1)
Column 85: 3B umpire ID and name (2)
Column 86: LF umpire ID and name (1)
Column 87: LF umpire ID and name (2)
Column 88: RF umpire ID and name (1)
Column 89: RF umpire ID and name (2)
Column 90: Visiting team manager ID and name (1)
Column 91: Visiting team manager ID and name (2)
Column 92: Home team manager ID and name (1)
Column 93: Home team manager ID and name (2)
Column 94: Winning pitcher ID and name (1)
Column 95: Winning pitcher ID and name (2)
Column 96: Losing pitcher ID and name (1)
Column 97: Losing pitcher ID and name (2)
Column 98: Saving pitcher ID and name--""
Column 99: "(none)" if none awarded
Column 100: Game Winning RBI batter ID and name--""
Column 101: "(none)" if none
Column 102: Visiting starting pitcher ID and name (1)
Column 103: Visiting starting pitcher ID and name (2)
Column 104: Home starting pitcher ID and name (1)
Column 105: Home starting pitcher ID and name (2)
Column 106: Visiting starting players ID, name and defensive position, (1)
Column 107: Visiting starting players ID, name and defensive position, (2)
Column 108: Visiting starting players ID, name and defensive position, (3)
Column 109: Visiting starting players ID, name and defensive position, (4)
Column 110: Visiting starting players ID, name and defensive position, (5)
Column 111: Visiting starting players ID, name and defensive position, (6)
Column 112: Visiting starting players ID, name and defensive position, (7)
Column 113: Visiting starting players ID, name and defensive position, (8)
Column 114: Visiting starting players ID, name and defensive position, (9)
Column 115: Visiting starting players ID, name and defensive position, (10)
Column 116: Visiting starting players ID, name and defensive position, (11)
Column 117: Visiting starting players ID, name and defensive position, (12)
Column 118: Visiting starting players ID, name and defensive position, (13)
Column 119: Visiting starting players ID, name and defensive position, (14)
Column 120: Visiting starting players ID, name and defensive position, (15)
Column 121: Visiting starting players ID, name and defensive position, (16)
Column 122: Visiting starting players ID, name and defensive position, (17)
Column 123: Visiting starting players ID, name and defensive position, (18)
Column 124: Visiting starting players ID, name and defensive position, (19)
Column 125: Visiting starting players ID, name and defensive position, (20)
Column 126: Visiting starting players ID, name and defensive position, (21)
Column 127: Visiting starting players ID, name and defensive position, (22)
Column 128: Visiting starting players ID, name and defensive position, (23)
Column 129: Visiting starting players ID, name and defensive position, (24)
Column 130: Visiting starting players ID, name and defensive position, (25)
Column 131: Visiting starting players ID, name and defensive position, (26)
Column 132: Visiting starting players ID, name and defensive position, (27)
Column 133: Home starting players ID, name and defensive position (1)
Column 134: Home starting players ID, name and defensive position (2)
Column 135: Home starting players ID, name and defensive position (3)
Column 136: Home starting players ID, name and defensive position (4)
Column 137: Home starting players ID, name and defensive position (5)
Column 138: Home starting players ID, name and defensive position (6)
Column 139: Home starting players ID, name and defensive position (7)
Column 140: Home starting players ID, name and defensive position (8)
Column 141: Home starting players ID, name and defensive position (9)
Column 142: Home starting players ID, name and defensive position (10)
Column 143: Home starting players ID, name and defensive position (11)
Column 144: Home starting players ID, name and defensive position (12)
Column 145: Home starting players ID, name and defensive position (13)
Column 146: Home starting players ID, name and defensive position (14)
Column 147: Home starting players ID, name and defensive position (15)
Column 148: Home starting players ID, name and defensive position (16)
Column 149: Home starting players ID, name and defensive position (17)
Column 150: Home starting players ID, name and defensive position (18)
Column 151: Home starting players ID, name and defensive position (19)
Column 152: Home starting players ID, name and defensive position (20)
Column 153: Home starting players ID, name and defensive position (21)
Column 154: Home starting players ID, name and defensive position (22)
Column 155: Home starting players ID, name and defensive position (23)
Column 156: Home starting players ID, name and defensive position (24)
Column 157: Home starting players ID, name and defensive position (25)
Column 158: Home starting players ID, name and defensive position (26)
Column 159: Home starting players ID, name and defensive position (27)
Column 160: Additional information.  This is a grab-bag of informational
Column 161: Acquisition information:

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.