# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [2]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [3]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [4]:
# Count by hand. (lol kidding)
print(df_food.shape)

(125, 61)

What are the columns and their types in this data set?

In [5]:
# Show the column names and their types.
df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [7]:
# Remove ‚Äòem.
# we only want to the columns for calories_day, weight, and gender.
# We can drop the rest.
df_food = df_food[['calories_day', 'weight','Gender']]

What about `NaN`s? How many are there?

In [8]:
# Count ‚Äòem.
#count the NaN values in the data set.
df_food.isnull().sum()

calories_day    19
weight           2
Gender           0
dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [10]:
# Drop ‚Äòem.
#remove all the rows with nan values.
df_food = df_food.dropna()
df_food.isnull().sum()

calories_day    0
weight          0
Gender          0
dtype: int64

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [11]:
# Fix that.
df_food

     calories_day                    weight  Gender
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
5             3.0                       190       1
..            ...                       ...     ...
118           3.0                       140       1
119           3.0                       185       2
120           4.0                       156       1
121           2.0                       180       1
123           4.0                       135       2

[104 rows x 3 columns]

In [15]:
#convert the weight column to numeric and drop the rows with invalid values.
df_food['weight'] = pd.to_numeric(df_food['weight'], errors='coerce')
df_food = df_food.dropna()
df_food

     calories_day  weight  Gender
1             3.0   155.0       1
4             2.0   190.0       1
5             3.0   190.0       1
6             3.0   180.0       2
7             3.0   137.0       1
..            ...     ...     ...
118           3.0   140.0       1
119           3.0   185.0       2
120           4.0   156.0       1
121           2.0   180.0       1
123           4.0   135.0       2

[101 rows x 3 columns]

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [16]:
# Savey save!
#save it as df_food_cleaned.csv
df_food.to_csv('data/df_food_cleaned.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [21]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary). It is a tsv file. why.
#data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv
df_salary = pd.read_csv('data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv', sep='\t')

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

In [60]:
#rename the file to df_salary.csv
df_salary.to_csv('data/df_salary.csv', index=False)
df_salary = pd.read_csv('data/df_salary.csv')

### Explore

You know the drill.

How much data did you just load?

In [61]:
# Count by hand. I‚Äôm dead serious.
#no
print(df_salary.shape)

(28062, 18)

What are the columns and their types?

In [62]:
# Show the column names and their types.
df_salary.dtypes

timestamp                       object
age                             object
industry                        object
title                           object
title_context                   object
salary                          object
additional_compensation        float64
currency                        object
other_currency                  object
salary_context                  object
country                         object
state                           object
city                            object
total_yoe                       object
field_yoe                       object
highest_education_completed     object
gender                          object
race                            object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [63]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed,	gender, race
#column list time
df_salary.columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [64]:
# List the unique industries and a count of their instances.
df_salary['industry'].value_counts()

Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: industry, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [65]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
#filter the data set to only include rows where the industry is Computing or Tech.
#industries = df_salary['industry'].unique()
#print(industries)
df_salary_tech = df_salary[(df_salary['industry'] == "Computing or Tech") | (df_salary['industry'] == "Tech") | (df_salary['industry'] == "Computing")]
df_salary_tech.shape

(4702, 18)

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [66]:
# Sanity Check 
df_salary_tech['industry'].value_counts()

Computing or Tech    4699
Tech                    3
Name: industry, dtype: int64

In [96]:
#save it as df_salary_tech.csv to make my life easier.
df_salary_tech.to_csv('data/df_salary_tech.csv', index=False)

#START FROM HERE IF YOU MESS UP BRO

In [16]:
df_salary_tech = pd.read_csv('data/df_salary_tech.csv')

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [17]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech_usd = df_salary_tech[df_salary_tech['currency'] == 'USD']
df_salary_tech_usd.shape

(3780, 18)

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [18]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
df_salary_tech_usd['country'].value_counts()
#show the top 30
df_salary_tech_usd['country'].value_counts().head(30)

United States                1576
USA                          1225
US                            412
U.S.                          108
United States of America       90
United States                  68
Usa                            59
USA                            56
usa                            28
United states                  23
united states                  14
Us                             12
us                              9
U.S.A.                          7
United States of America        7
Israel                          5
Canada                          4
UnitedStates                    2
New Zealand                     2
united States                   2
United Kingdom                  2
Brazil                          2
France                          2
U.S.A                           2
Spain                           2
United States of america        2
Usa                             2
U.S                             2
India                           2
Poland                          2
Name: country, dtype: int64

In [19]:
#show the unique countries with "U" and "S" in the name, or with "America" in the name.
us_names = df_salary_tech_usd[df_salary_tech_usd['country'].str.contains('U|S|u|s|America')]['country'].unique()
us_names

array(['US', 'United States', 'USA', 'United States of America',
       'United States ', 'U.S. ', 'US ', 'usa', 'United states',
       'United State of America', 'USA ', 'U.S.', 'us', 'Usa',
       'united states', 'Uniyed states', 'U.S.A.', 'America',
       'Puerto Rico ', 'U.s.', ' US', 'Unite States', 'Us',
       'United State', 'Australia', 'Cuba', 'UnitedStates', 'Israel',
       'United Stated', 'U.S', 'Usa ', 'Remote (philippines)',
       'Singapore', 'United States Of America', 'Spain',
       'United States of America ', 'Uruguay', 'United Kingdom',
       'United Stateds', 'ISA', 'singapore', 'Pakistan', 'united States',
       'Netherlands', 'San Francisco', 'United STates', 'U.S.A',
       'United Stares', 'United States of america', 'Australian ',
       'Unites States', 'U.S.A ', 'ss', 'Burma'], dtype=object)

In [20]:
#make all the names in the us_names list lowercase.
us_names = [name.lower().strip() for name in us_names]
#remove the names that arent: (make these lowercase too)['Singapore', 'Spain', 'Uruguay', 'United Kingdom', 'ISA', 'San Francisco', 'Puerto Rico ', 'Australia', 'Cuba', 'Israel', 'Remote (philippines)']]
us_names = [name for name in us_names if name not in ['india', 'singapore', 'pakistan', 'spain', 'uruguay', 'united kingdom', 'isa', 'san francisco', 'puerto rico ', 'australia', 'cuba', 'israel', 'remote (philippines)', 'burma', 'ss', 'australian', 'netherlands']]
print(us_names)

['us', 'united states', 'usa', 'united states of america', 'united states', 'u.s.', 'us', 'usa', 'united states', 'united state of america', 'usa', 'u.s.', 'us', 'usa', 'united states', 'uniyed states', 'u.s.a.', 'america', 'puerto rico', 'u.s.', 'us', 'unite states', 'us', 'united state', 'unitedstates', 'united stated', 'u.s', 'usa', 'united states of america', 'united states of america', 'united stateds', 'united states', 'united states', 'u.s.a', 'united stares', 'united states of america', 'unites states', 'u.s.a']

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [21]:
# Replace them all with 'US'.
'''
All the ways people have written United States of America:
['US', 'United States', 'USA', 'United States of America', 'United States ', 'U.S. ', 'US ', 'United states', 'United State of America', 'USA ', 'U.S.', 'Usa', 'Uniyed states', 'U.S.A.', 'America', 'U.s.', ' US', 'Unite States', 'Us', 'United State', 'UnitedStates', 'United Stated', 'U.S', 'Usa ', 'United States Of America', 'United States of America ', 'United Stateds', 'united States', 'United STates', 'U.S.A', 'United Stares', 'United States of america', 'Unites States', 'U.S.A ',]
'''
#In the dataframe, if the country is in the us_names list, replace it with 'US'
df_salary_tech_usd['country'] = df_salary_tech_usd['country'].apply(lambda x: 'US' if x.lower().strip() in us_names else x)
#lose the rest of the countries
df_salary_tech_usd = df_salary_tech_usd[df_salary_tech_usd['country'] == 'US']
df_salary_tech_usd.shape

/var/folders/sk/r_8fkf9s2ys9d8p1lfwj100r0000gn/T/ipykernel_50183/1953554997.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech_usd['country'] = df_salary_tech_usd['country'].apply(lambda x: 'US' if x.lower().strip() in us_names else x)

(3727, 18)

Have a look at the count of each unique country again now.

In [22]:
# Count again.
df_salary_tech_usd['country'].value_counts()

US    3727
Name: country, dtype: int64

Did you notice anything interesting?

In [23]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.
print("I did it above.")

I did it above.

In [24]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.
#gotta load the og
df_salary_tech_og = pd.read_csv('data/df_salary_tech.csv')
df_salary_tech_og['country'].value_counts()
#do the lil value count thing
#print the value counts of the country column if the value, lowered, and stripped, is in the us_names list. dont add the ones that arent in the list.
df_salary_tech_us = df_salary_tech_og[df_salary_tech_og['country'].apply(lambda x: x.lower().strip() in us_names)]['country'].value_counts()

#print the list of the unique names in df_salary_tech_us
print(df_salary_tech_us)

United States                1576
USA                          1225
US                            413
U.S.                          108
United States of America       90
United States                  68
Usa                            59
USA                            56
usa                            28
United states                  23
united states                  14
Us                             12
us                              9
United States of America        7
U.S.A.                          7
United State of America         2
Unite States                    2
Usa                             2
U.S                             2
UnitedStates                    2
united States                   2
United States Of America        2
U.S.                            2
U.S.A                           2
United States of america        2
United Stares                   1
United Stateds                  1
Unites States                   1
United STates                   1
U.s.                            1
United Stated                   1
United State                    1
 US                             1
Puerto Rico                     1
America                         1
Uniyed states                   1
US                              1
U.S.A                           1
Name: country, dtype: int64

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [25]:
# Find the minimum, mean, and maximum salary in USD by U.S. state. (use the df_salary_tech_usd variable)
df_salary_tech_usd.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values('mean', ascending=False)

TypeError: Could not convert 75,00070,00072,00052,00029,120105,000120,00052000550009500035000035000 to numeric

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [26]:
# Fix it.
#convert the salary column to numeric and drop the rows with invalid values.
df_salary_tech_usd['salary'] = pd.to_numeric(df_salary_tech_usd['salary'], errors='coerce')
df_salary_tech_usd

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,NaN,10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
2,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,NaN,5000.0,USD,NaN,NaN,US,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
3,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,NaN,20000.0,USD,NaN,"Around 20,000 a year in stock",US,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
4,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,NaN,2500.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
5,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,NaN,40000.0,USD,NaN,NaN,US,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,5/27/2024 2:47:26,25-34,Computing or Tech,Lead,NaN,2600000.0,NaN,USD,NaN,NaN,US,Florida,Newyork,8 - 10 years,2 - 4 years,NaN,Man,NaN
4696,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000.0,0.0,USD,NaN,NaN,US,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
4698,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000.0,15000.0,USD,NaN,NaN,US,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
4699,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000.0,15000.0,USD,NaN,NaN,US,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
4700,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000.0,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White

In [27]:
#DROP THE rows with Nan values but only in the salary column.  
df_salary_tech_usd = df_salary_tech_usd.dropna(subset=['salary'])

In [28]:
df_salary_tech_usd

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1029,4/27/2021 17:02:03,35-44,Computing or Tech,Software Development Lead,NaN,1.0,130000.0,USD,NaN,NaN,US,Wisconsin,Madison,8 - 10 years,8 - 10 years,Master's degree,Man,White
1493,4/28/2021 6:41:31,45-54,Computing or Tech,Account Manager,NaN,55.0,12.0,USD,NaN,Base + commission,US,New Hampshire,Manchester,21 - 30 years,8 - 10 years,College degree,Woman,White
2048,4/28/2021 16:45:53,18-24,Computing or Tech,Product Marketer,NaN,0.0,0.0,USD,NaN,Start up without funding. Compensation is in s...,US,California,Santa Clara,1 year or less,1 year or less,College degree,Man,Asian or Asian American
2198,4/28/2021 17:22:37,25-34,Computing or Tech,Chief Data Scientist,NaN,240.0,100.0,USD,NaN,Additional compensation is expected value of o...,US,California,Oakland,5-7 years,5-7 years,PhD,Man,White
2782,4/28/2021 22:49:19,25-34,Computing or Tech,Technical Writer,NaN,72.0,0.0,USD,NaN,NaN,US,Washington,Silverdale,8 - 10 years,2 - 4 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,5/27/2024 2:47:26,25-34,Computing or Tech,Lead,NaN,2600000.0,NaN,USD,NaN,NaN,US,Florida,Newyork,8 - 10 years,2 - 4 years,NaN,Man,NaN
4696,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000.0,0.0,USD,NaN,NaN,US,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
4698,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000.0,15000.0,USD,NaN,NaN,US,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
4699,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000.0,15000.0,USD,NaN,NaN,US,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
4700,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000.0,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White

Let‚Äôs try that again.

In [14]:
df_salary_tech_usd

Empty DataFrame
Columns: [timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed, gender, race]
Index: []

In [29]:
# Try it again. Yeah!
df_salary_tech_usd.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values('mean', ascending=False)

                                     min           mean        max
state
Michigan, Texas, Washington     340000.0  340000.000000   340000.0
Florida                          28800.0  210711.000000  2600000.0
California, Oregon              200000.0  200000.000000   200000.0
California, Colorado            176000.0  176000.000000   176000.0
Delaware                        169000.0  169000.000000   169000.0
Connecticut                      68000.0  161610.000000   270000.0
California                           0.0  153286.988827   520000.0
New York                         14000.0  146594.112150   590000.0
Wisconsin                            1.0  145806.888889   920000.0
District of Columbia             59000.0  142923.076923   200000.0
New Jersey, New York            135000.0  137500.000000   140000.0
Ohio                             42000.0  137066.666667   954000.0
Washington                          72.0  136923.916667   300000.0
Massachusetts                    41000.0  125899.155844   400000.0
Nevada                          107100.0  124550.000000   142000.0
New Jersey                       67500.0  124090.909091   192000.0
Oregon                           16200.0  122640.000000   230000.0
West Virginia                   120000.0  120000.000000   120000.0
Maryland                         62000.0  119955.461538   176000.0
Illinois                         36000.0  117555.571429   228800.0
Alabama                          35000.0  117400.000000   350000.0
Louisiana, Washington           117000.0  117000.000000   117000.0
Pennsylvania                     52000.0  116826.388889   237000.0
Georgia                          29120.0  115297.647059   242000.0
Virginia                         58750.0  115086.696970   378000.0
Montana                          65000.0  112666.666667   145000.0
Kansas                           41500.0  109666.666667   167000.0
Colorado                         49400.0  109291.891892   165000.0
District of Columbia, Virginia  109200.0  109200.000000   109200.0
Vermont                          91250.0  105625.000000   120000.0
Idaho                            74860.0  105465.000000   170000.0
Utah                             33280.0  105023.333333   176000.0
Maine                            50000.0  103833.333333   173000.0
Texas                            10700.0  103685.245902   190000.0
Kentucky                         62000.0  102500.000000   125000.0
Iowa                             63000.0  101200.000000   142000.0
Minnesota                        52124.0  101064.941176   210000.0
Rhode Island                     76000.0   99475.000000   122950.0
North Carolina                   29000.0   97841.666667   165000.0
Arizona                          35000.0   97833.333333   145000.0
Michigan                         41600.0   95758.823529   235000.0
New Mexico                       82000.0   95733.333333   115200.0
Tennessee                        61500.0   91750.000000   144000.0
New Hampshire                       55.0   87175.833333   130000.0
Oklahoma                         36958.0   84802.571429   180000.0
Indiana                          15000.0   82875.000000   140000.0
California, Maryland             81500.0   81500.000000    81500.0
Louisiana                        75000.0   80500.000000    84000.0
Missouri                            80.0   80339.923077   200000.0
Arkansas                         60000.0   77333.333333    95000.0
Nebraska                         43000.0   76736.000000   140000.0
South Carolina                   40000.0   40000.000000    40000.0

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [30]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.
#convert the timestamp column to datetime.
df_salary_tech_usd['timestamp'] = pd.to_datetime(df_salary_tech_usd['timestamp'], errors='coerce')

/var/folders/sk/r_8fkf9s2ys9d8p1lfwj100r0000gn/T/ipykernel_50183/629237399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech_usd['timestamp'] = pd.to_datetime(df_salary_tech_usd['timestamp'], errors='coerce')

In [31]:
df_salary_tech_usd_time = df_salary_tech_usd.dropna(subset=['timestamp'])

In [32]:
df_salary_tech_usd_time = df_salary_tech_usd_time[df_salary_tech_usd_time['timestamp'].dt.year.isin([2021, 2022, 2023])]

In [33]:
df_salary_tech_usd_time

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1029,2021-04-27 17:02:03,35-44,Computing or Tech,Software Development Lead,NaN,1.0,130000.0,USD,NaN,NaN,US,Wisconsin,Madison,8 - 10 years,8 - 10 years,Master's degree,Man,White
1493,2021-04-28 06:41:31,45-54,Computing or Tech,Account Manager,NaN,55.0,12.0,USD,NaN,Base + commission,US,New Hampshire,Manchester,21 - 30 years,8 - 10 years,College degree,Woman,White
2048,2021-04-28 16:45:53,18-24,Computing or Tech,Product Marketer,NaN,0.0,0.0,USD,NaN,Start up without funding. Compensation is in s...,US,California,Santa Clara,1 year or less,1 year or less,College degree,Man,Asian or Asian American
2198,2021-04-28 17:22:37,25-34,Computing or Tech,Chief Data Scientist,NaN,240.0,100.0,USD,NaN,Additional compensation is expected value of o...,US,California,Oakland,5-7 years,5-7 years,PhD,Man,White
2782,2021-04-28 22:49:19,25-34,Computing or Tech,Technical Writer,NaN,72.0,0.0,USD,NaN,NaN,US,Washington,Silverdale,8 - 10 years,2 - 4 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4678,2023-03-28 18:41:56,25-34,Computing or Tech,Software Engineer II,NaN,116421.0,3000.0,USD,NaN,NaN,US,Maryland,Bethesda,2 - 4 years,2 - 4 years,College degree,Man,White
4679,2023-04-18 09:26:31,35-44,Computing or Tech,Porting Agent,Port phone numbers from one carrier to another,60000.0,5000.0,USD,NaN,NaN,US,Georgia,Atlanta,21 - 30 years,2 - 4 years,Some college,Man,"Hispanic, Latino, or Spanish origin"
4680,2023-05-09 17:57:30,45-54,Computing or Tech,Junior Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,US,Virginia,Richmond,21 - 30 years,1 year or less,College degree,Man,White
4681,2023-05-28 16:10:53,45-54,Computing or Tech,Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,US,New York,Bronx,21 - 30 years,8 - 10 years,College degree,Man,Black or African American
4684,2023-09-08 12:35:45,18-24,Computing or Tech,intern,NaN,35000.0,0.0,USD,NaN,NaN,US,Texas,Dallas,1 year or less,1 year or less,Master's degree,Man,Asian or Asian American

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)