# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [67]:
# Import here.
import pandas as pd
import numpy as np
import spacy
nlp = spacy.load("en_core_web_sm")
from tqdm import tqdm
tqdm.pandas()  # Enable tqdm for pandas

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [3]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [4]:
# Count by hand. (lol kidding)
print(df_food.shape)

(125, 61)

What are the columns and their types in this data set?

In [5]:
# Show the column names and their types.
df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [7]:
# Remove ‘em.
# we only want to the columns for calories_day, weight, and gender.
# We can drop the rest.
df_food = df_food[['calories_day', 'weight','Gender']]

What about `NaN`s? How many are there?

In [8]:
# Count ‘em.
#count the NaN values in the data set.
df_food.isnull().sum()

calories_day    19
weight           2
Gender           0
dtype: int64

We gotta remove those `NaN`s―the entire row.

In [10]:
# Drop ‘em.
#remove all the rows with nan values.
df_food = df_food.dropna()
df_food.isnull().sum()

calories_day    0
weight          0
Gender          0
dtype: int64

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [11]:
# Fix that.
df_food

     calories_day                    weight  Gender
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
5             3.0                       190       1
..            ...                       ...     ...
118           3.0                       140       1
119           3.0                       185       2
120           4.0                       156       1
121           2.0                       180       1
123           4.0                       135       2

[104 rows x 3 columns]

In [15]:
#convert the weight column to numeric and drop the rows with invalid values.
df_food['weight'] = pd.to_numeric(df_food['weight'], errors='coerce')
df_food = df_food.dropna()
df_food

     calories_day  weight  Gender
1             3.0   155.0       1
4             2.0   190.0       1
5             3.0   190.0       1
6             3.0   180.0       2
7             3.0   137.0       1
..            ...     ...     ...
118           3.0   140.0       1
119           3.0   185.0       2
120           4.0   156.0       1
121           2.0   180.0       1
123           4.0   135.0       2

[101 rows x 3 columns]

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [16]:
# Savey save!
#save it as df_food_cleaned.csv
df_food.to_csv('data/df_food_cleaned.csv', index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [21]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary). It is a tsv file. why.
#data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv
df_salary = pd.read_csv('data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv', sep='\t')

Was that hard? 🙃

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

In [60]:
#rename the file to df_salary.csv
df_salary.to_csv('data/df_salary.csv', index=False)
df_salary = pd.read_csv('data/df_salary.csv')

### Explore

You know the drill.

How much data did you just load?

In [61]:
# Count by hand. I’m dead serious.
#no
print(df_salary.shape)

(28062, 18)

What are the columns and their types?

In [62]:
# Show the column names and their types.
df_salary.dtypes

timestamp                       object
age                             object
industry                        object
title                           object
title_context                   object
salary                          object
additional_compensation        float64
currency                        object
other_currency                  object
salary_context                  object
country                         object
state                           object
city                            object
total_yoe                       object
field_yoe                       object
highest_education_completed     object
gender                          object
race                            object
dtype: object

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [63]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed,	gender, race
#column list time
df_salary.columns = ['timestamp', 'age', 'industry', 'title', 'title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed', 'gender', 'race']

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [64]:
# List the unique industries and a count of their instances.
df_salary['industry'].value_counts()

Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: industry, Length: 1219, dtype: int64

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [65]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
#filter the data set to only include rows where the industry is Computing or Tech.
#industries = df_salary['industry'].unique()
#print(industries)
df_salary_tech = df_salary[(df_salary['industry'] == "Computing or Tech") | (df_salary['industry'] == "Tech") | (df_salary['industry'] == "Computing")]
df_salary_tech.shape

(4702, 18)

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [66]:
# Sanity Check 
df_salary_tech['industry'].value_counts()

Computing or Tech    4699
Tech                    3
Name: industry, dtype: int64

In [96]:
#save it as df_salary_tech.csv to make my life easier.
df_salary_tech.to_csv('data/df_salary_tech.csv', index=False)

#START FROM HERE IF YOU MESS UP BRO

In [16]:
df_salary_tech = pd.read_csv('data/df_salary_tech.csv')

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [17]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech_usd = df_salary_tech[df_salary_tech['currency'] == 'USD']
df_salary_tech_usd.shape

(3780, 18)

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [18]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
df_salary_tech_usd['country'].value_counts()
#show the top 30
df_salary_tech_usd['country'].value_counts().head(30)

United States                1576
USA                          1225
US                            412
U.S.                          108
United States of America       90
United States                  68
Usa                            59
USA                            56
usa                            28
United states                  23
united states                  14
Us                             12
us                              9
U.S.A.                          7
United States of America        7
Israel                          5
Canada                          4
UnitedStates                    2
New Zealand                     2
united States                   2
United Kingdom                  2
Brazil                          2
France                          2
U.S.A                           2
Spain                           2
United States of america        2
Usa                             2
U.S                             2
India                           2
Poland                          2
Name: country, dtype: int64

In [19]:
#show the unique countries with "U" and "S" in the name, or with "America" in the name.
us_names = df_salary_tech_usd[df_salary_tech_usd['country'].str.contains('U|S|u|s|America')]['country'].unique()
us_names

array(['US', 'United States', 'USA', 'United States of America',
       'United States ', 'U.S. ', 'US ', 'usa', 'United states',
       'United State of America', 'USA ', 'U.S.', 'us', 'Usa',
       'united states', 'Uniyed states', 'U.S.A.', 'America',
       'Puerto Rico ', 'U.s.', ' US', 'Unite States', 'Us',
       'United State', 'Australia', 'Cuba', 'UnitedStates', 'Israel',
       'United Stated', 'U.S', 'Usa ', 'Remote (philippines)',
       'Singapore', 'United States Of America', 'Spain',
       'United States of America ', 'Uruguay', 'United Kingdom',
       'United Stateds', 'ISA', 'singapore', 'Pakistan', 'united States',
       'Netherlands', 'San Francisco', 'United STates', 'U.S.A',
       'United Stares', 'United States of america', 'Australian ',
       'Unites States', 'U.S.A ', 'ss', 'Burma'], dtype=object)

In [20]:
#make all the names in the us_names list lowercase.
us_names = [name.lower().strip() for name in us_names]
#remove the names that arent: (make these lowercase too)['Singapore', 'Spain', 'Uruguay', 'United Kingdom', 'ISA', 'San Francisco', 'Puerto Rico ', 'Australia', 'Cuba', 'Israel', 'Remote (philippines)']]
us_names = [name for name in us_names if name not in ['india', 'singapore', 'pakistan', 'spain', 'uruguay', 'united kingdom', 'isa', 'san francisco', 'puerto rico ', 'australia', 'cuba', 'israel', 'remote (philippines)', 'burma', 'ss', 'australian', 'netherlands']]
print(us_names)

['us', 'united states', 'usa', 'united states of america', 'united states', 'u.s.', 'us', 'usa', 'united states', 'united state of america', 'usa', 'u.s.', 'us', 'usa', 'united states', 'uniyed states', 'u.s.a.', 'america', 'puerto rico', 'u.s.', 'us', 'unite states', 'us', 'united state', 'unitedstates', 'united stated', 'u.s', 'usa', 'united states of america', 'united states of america', 'united stateds', 'united states', 'united states', 'u.s.a', 'united stares', 'united states of america', 'unites states', 'u.s.a']

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [21]:
# Replace them all with 'US'.
'''
All the ways people have written United States of America:
['US', 'United States', 'USA', 'United States of America',
'United States ', 'U.S. ', 'US ', 'United states', 'United State of America',
'USA ', 'U.S.', 'Usa', 'Uniyed states', 'U.S.A.', 'America', 'U.s.', ' US', 
'Unite States', 'Us', 'United State', 'UnitedStates', 'United Stated', 'U.S', 
'Usa ', 'United States Of America', 'United States of America ', 'United Stateds', 
'united States', 'United STates', 'U.S.A', 'United Stares', 'United States of america', 
'Unites States', 'U.S.A ']
'''
#In the dataframe, if the country is in the us_names list, replace it with 'US'
df_salary_tech_usd['country'] = df_salary_tech_usd['country'].apply(lambda x: 'US' if x.lower().strip() in us_names else x)
#lose the rest of the countries
df_salary_tech_usd = df_salary_tech_usd[df_salary_tech_usd['country'] == 'US']
df_salary_tech_usd.shape

/var/folders/sk/r_8fkf9s2ys9d8p1lfwj100r0000gn/T/ipykernel_50183/1953554997.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech_usd['country'] = df_salary_tech_usd['country'].apply(lambda x: 'US' if x.lower().strip() in us_names else x)

(3727, 18)

Have a look at the count of each unique country again now.

In [22]:
# Count again.
df_salary_tech_usd['country'].value_counts()

US    3727
Name: country, dtype: int64

Did you notice anything interesting?

In [23]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.
print("I did it above.")

I did it above.

In [24]:

# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.
#gotta load the og
df_salary_tech_og = pd.read_csv('data/df_salary_tech.csv')
df_salary_tech_og['country'].value_counts()
#do the lil value count thing
#print the value counts of the country column if the value, lowered, and stripped, is in the us_names list. dont add the ones that arent in the list.
df_salary_tech_us = df_salary_tech_og[df_salary_tech_og['country'].apply(lambda x: x.lower().strip() in us_names)]['country'].value_counts()

#print the list of the unique names in df_salary_tech_us
print(df_salary_tech_us)

United States                1576
USA                          1225
US                            413
U.S.                          108
United States of America       90
United States                  68
Usa                            59
USA                            56
usa                            28
United states                  23
united states                  14
Us                             12
us                              9
United States of America        7
U.S.A.                          7
United State of America         2
Unite States                    2
Usa                             2
U.S                             2
UnitedStates                    2
united States                   2
United States Of America        2
U.S.                            2
U.S.A                           2
United States of america        2
United Stares                   1
United Stateds                  1
Unites States                   1
United STates                   1
U.s.                            1
United Stated                   1
United State                    1
 US                             1
Puerto Rico                     1
America                         1
Uniyed states                   1
US                              1
U.S.A                           1
Name: country, dtype: int64

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [25]:
# Find the minimum, mean, and maximum salary in USD by U.S. state. (use the df_salary_tech_usd variable)
df_salary_tech_usd.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values('mean', ascending=False)

TypeError: Could not convert 75,00070,00072,00052,00029,120105,000120,00052000550009500035000035000 to numeric

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [26]:
# Fix it.
#convert the salary column to numeric and drop the rows with invalid values.
df_salary_tech_usd['salary'] = pd.to_numeric(df_salary_tech_usd['salary'], errors='coerce')
df_salary_tech_usd

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,NaN,10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
2,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,NaN,5000.0,USD,NaN,NaN,US,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
3,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,NaN,20000.0,USD,NaN,"Around 20,000 a year in stock",US,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
4,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,NaN,2500.0,USD,NaN,NaN,US,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
5,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,NaN,40000.0,USD,NaN,NaN,US,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,5/27/2024 2:47:26,25-34,Computing or Tech,Lead,NaN,2600000.0,NaN,USD,NaN,NaN,US,Florida,Newyork,8 - 10 years,2 - 4 years,NaN,Man,NaN
4696,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000.0,0.0,USD,NaN,NaN,US,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
4698,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000.0,15000.0,USD,NaN,NaN,US,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
4699,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000.0,15000.0,USD,NaN,NaN,US,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
4700,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000.0,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White

In [27]:
#DROP THE rows with Nan values but only in the salary column.  
df_salary_tech_usd = df_salary_tech_usd.dropna(subset=['salary'])

In [28]:
df_salary_tech_usd

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1029,4/27/2021 17:02:03,35-44,Computing or Tech,Software Development Lead,NaN,1.0,130000.0,USD,NaN,NaN,US,Wisconsin,Madison,8 - 10 years,8 - 10 years,Master's degree,Man,White
1493,4/28/2021 6:41:31,45-54,Computing or Tech,Account Manager,NaN,55.0,12.0,USD,NaN,Base + commission,US,New Hampshire,Manchester,21 - 30 years,8 - 10 years,College degree,Woman,White
2048,4/28/2021 16:45:53,18-24,Computing or Tech,Product Marketer,NaN,0.0,0.0,USD,NaN,Start up without funding. Compensation is in s...,US,California,Santa Clara,1 year or less,1 year or less,College degree,Man,Asian or Asian American
2198,4/28/2021 17:22:37,25-34,Computing or Tech,Chief Data Scientist,NaN,240.0,100.0,USD,NaN,Additional compensation is expected value of o...,US,California,Oakland,5-7 years,5-7 years,PhD,Man,White
2782,4/28/2021 22:49:19,25-34,Computing or Tech,Technical Writer,NaN,72.0,0.0,USD,NaN,NaN,US,Washington,Silverdale,8 - 10 years,2 - 4 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4695,5/27/2024 2:47:26,25-34,Computing or Tech,Lead,NaN,2600000.0,NaN,USD,NaN,NaN,US,Florida,Newyork,8 - 10 years,2 - 4 years,NaN,Man,NaN
4696,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000.0,0.0,USD,NaN,NaN,US,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
4698,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000.0,15000.0,USD,NaN,NaN,US,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
4699,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000.0,15000.0,USD,NaN,NaN,US,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
4700,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000.0,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White

Let’s try that again.

In [14]:
df_salary_tech_usd

Empty DataFrame
Columns: [timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed, gender, race]
Index: []

In [29]:
# Try it again. Yeah!
df_salary_tech_usd.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values('mean', ascending=False)

                                     min           mean        max
state
Michigan, Texas, Washington     340000.0  340000.000000   340000.0
Florida                          28800.0  210711.000000  2600000.0
California, Oregon              200000.0  200000.000000   200000.0
California, Colorado            176000.0  176000.000000   176000.0
Delaware                        169000.0  169000.000000   169000.0
Connecticut                      68000.0  161610.000000   270000.0
California                           0.0  153286.988827   520000.0
New York                         14000.0  146594.112150   590000.0
Wisconsin                            1.0  145806.888889   920000.0
District of Columbia             59000.0  142923.076923   200000.0
New Jersey, New York            135000.0  137500.000000   140000.0
Ohio                             42000.0  137066.666667   954000.0
Washington                          72.0  136923.916667   300000.0
Massachusetts                    41000.0  125899.155844   400000.0
Nevada                          107100.0  124550.000000   142000.0
New Jersey                       67500.0  124090.909091   192000.0
Oregon                           16200.0  122640.000000   230000.0
West Virginia                   120000.0  120000.000000   120000.0
Maryland                         62000.0  119955.461538   176000.0
Illinois                         36000.0  117555.571429   228800.0
Alabama                          35000.0  117400.000000   350000.0
Louisiana, Washington           117000.0  117000.000000   117000.0
Pennsylvania                     52000.0  116826.388889   237000.0
Georgia                          29120.0  115297.647059   242000.0
Virginia                         58750.0  115086.696970   378000.0
Montana                          65000.0  112666.666667   145000.0
Kansas                           41500.0  109666.666667   167000.0
Colorado                         49400.0  109291.891892   165000.0
District of Columbia, Virginia  109200.0  109200.000000   109200.0
Vermont                          91250.0  105625.000000   120000.0
Idaho                            74860.0  105465.000000   170000.0
Utah                             33280.0  105023.333333   176000.0
Maine                            50000.0  103833.333333   173000.0
Texas                            10700.0  103685.245902   190000.0
Kentucky                         62000.0  102500.000000   125000.0
Iowa                             63000.0  101200.000000   142000.0
Minnesota                        52124.0  101064.941176   210000.0
Rhode Island                     76000.0   99475.000000   122950.0
North Carolina                   29000.0   97841.666667   165000.0
Arizona                          35000.0   97833.333333   145000.0
Michigan                         41600.0   95758.823529   235000.0
New Mexico                       82000.0   95733.333333   115200.0
Tennessee                        61500.0   91750.000000   144000.0
New Hampshire                       55.0   87175.833333   130000.0
Oklahoma                         36958.0   84802.571429   180000.0
Indiana                          15000.0   82875.000000   140000.0
California, Maryland             81500.0   81500.000000    81500.0
Louisiana                        75000.0   80500.000000    84000.0
Missouri                            80.0   80339.923077   200000.0
Arkansas                         60000.0   77333.333333    95000.0
Nebraska                         43000.0   76736.000000   140000.0
South Carolina                   40000.0   40000.000000    40000.0

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [30]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.
#convert the timestamp column to datetime.
df_salary_tech_usd['timestamp'] = pd.to_datetime(df_salary_tech_usd['timestamp'], errors='coerce')

/var/folders/sk/r_8fkf9s2ys9d8p1lfwj100r0000gn/T/ipykernel_50183/629237399.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech_usd['timestamp'] = pd.to_datetime(df_salary_tech_usd['timestamp'], errors='coerce')

In [31]:
df_salary_tech_usd_time = df_salary_tech_usd.dropna(subset=['timestamp'])

In [32]:
df_salary_tech_usd_time = df_salary_tech_usd_time[df_salary_tech_usd_time['timestamp'].dt.year.isin([2021, 2022, 2023])]

In [33]:
df_salary_tech_usd_time

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1029,2021-04-27 17:02:03,35-44,Computing or Tech,Software Development Lead,NaN,1.0,130000.0,USD,NaN,NaN,US,Wisconsin,Madison,8 - 10 years,8 - 10 years,Master's degree,Man,White
1493,2021-04-28 06:41:31,45-54,Computing or Tech,Account Manager,NaN,55.0,12.0,USD,NaN,Base + commission,US,New Hampshire,Manchester,21 - 30 years,8 - 10 years,College degree,Woman,White
2048,2021-04-28 16:45:53,18-24,Computing or Tech,Product Marketer,NaN,0.0,0.0,USD,NaN,Start up without funding. Compensation is in s...,US,California,Santa Clara,1 year or less,1 year or less,College degree,Man,Asian or Asian American
2198,2021-04-28 17:22:37,25-34,Computing or Tech,Chief Data Scientist,NaN,240.0,100.0,USD,NaN,Additional compensation is expected value of o...,US,California,Oakland,5-7 years,5-7 years,PhD,Man,White
2782,2021-04-28 22:49:19,25-34,Computing or Tech,Technical Writer,NaN,72.0,0.0,USD,NaN,NaN,US,Washington,Silverdale,8 - 10 years,2 - 4 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4678,2023-03-28 18:41:56,25-34,Computing or Tech,Software Engineer II,NaN,116421.0,3000.0,USD,NaN,NaN,US,Maryland,Bethesda,2 - 4 years,2 - 4 years,College degree,Man,White
4679,2023-04-18 09:26:31,35-44,Computing or Tech,Porting Agent,Port phone numbers from one carrier to another,60000.0,5000.0,USD,NaN,NaN,US,Georgia,Atlanta,21 - 30 years,2 - 4 years,Some college,Man,"Hispanic, Latino, or Spanish origin"
4680,2023-05-09 17:57:30,45-54,Computing or Tech,Junior Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,US,Virginia,Richmond,21 - 30 years,1 year or less,College degree,Man,White
4681,2023-05-28 16:10:53,45-54,Computing or Tech,Data Analyst,NaN,65000.0,0.0,USD,NaN,NaN,US,New York,Bronx,21 - 30 years,8 - 10 years,College degree,Man,Black or African American
4684,2023-09-08 12:35:45,18-24,Computing or Tech,intern,NaN,35000.0,0.0,USD,NaN,NaN,US,Texas,Dallas,1 year or less,1 year or less,Master's degree,Man,Asian or Asian American

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

# START HERE STOOPY

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

In [68]:
df_salary = pd.read_csv('data/df_salary.csv')
df_salary

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,United States,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,Myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American
28061,8/20/2024 1:06:13,25-34,Health care,Clinical physiologist,NaN,1200000,NaN,Other,NGN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American

In [69]:
#unique industries
df_salary['industry'].value_counts()

Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: industry, Length: 1219, dtype: int64

In [70]:
#number of unique industries
df_salary['industry'].nunique()

1219

In [71]:
#print the unique industries as a list
industries = df_salary['industry'].unique()
for i in industries:
    print(i)

Education (Higher Education)
Computing or Tech
Accounting, Banking & Finance
Nonprofits
Publishing
Education (Primary/Secondary)
Law
Health care
Utilities & Telecommunications
Business or Consulting
Art & Design
Government and Public Administration
Public Library
Engineering or Manufacturing
Media & Digital
Marketing, Advertising & PR
Retail
Property or Construction
Biotechnology
Aerospace contracting
Insurance
Sales
Energy
Environmental regulation
Hospitality & Events
Transport or Logistics
Medical Devices
Academic research (Psychology)
Social Work
public library
Surveying
Recruitment or HR
PhD
Biopharma
STEM research
Libraries
Architecture
Academic Medicine
Commercial Real Estate
Pet care industry (dog training/walking)
Politics
University administration
Animal Health Product Manufacturing
Educational Technology - hybrid between book publishing and technology really
Pharmaceuticals
Agriculture or Forestry
Philanthropy
Real Estate
Consulting
Environmental Consulting
Archaeology / Cultural Resource Management
Museum
Public library
Biotech
nan
Government Relations (Lobbying)
Software as a Service SaaS
Public health in higher education
Business Services
Law Enforcement & Security
Manufacturing and distributing
Leisure, Sport & Tourism
Food manufacturing
Research and development
Consumer packaged goods
Entertainment
B2B Services
Oil and Gas
Heritage/Public History
Manufacturing
Veterinary medicine
Food Production/Processing
Health Insurance
Government contractor
Public health
Renewable energy
publishing
Aerospace
Manufacturing
Public Library (technically City Govt.?)
Space
Librarian
Food Service
Pharma
Aerospace/Defense
Management Consulting
Pharmaceutical
Pharmaceutical
Academic publishing
Gas & Oil
Defense contracting
International development (multilateral donor)
project management
Apparel manufacture
auto repair
Life Sciences
pharma / medical device design and manufacturing
Chemical Manufacturing
Editor in educational publishing
trade association/membership
Food service
Work-Study
Science
Learning & Development
Training
FMCG
manufacturing
Museum - Nonprofit
real estate
wholesale distribution
Research Administration
Scientific research
Tech
Healthcare IT
Research
Academic Publishing
Municipal library
Eap
Education (early childhood)
Medical Library
Fire protection
Environmental Science
Music: freelance, performing and education
architecture
Oil & Gas
Libraries & Archives
International Development
Interior Design & Architecture
Pharma/Biotech
Academic/nonprofit research
Public health
Synthetic Chemical Manufacturing
Library (its a non-profit and its a govt job - how would I list that? Not all libraries are govt jobs)
Real estate services
Automotive finance and insurance
Gambling
Museums: Nonprofit
Libraries and Archives (Academic)
Archaeology
Scientific Research
Municipal Government (Library)
Public Policy
Library/archives
Government- Scientist
Technical/Cybersecurity
Museums
Pharmaceutical research
pharma
Sign Language Interpreter, Community
Library
Publishing
Trade Association
Mining/Resource Extraction
Education Publishing
Public Health
Special Collections Library
Intergovernmental organization
Information services
Museum education
Food & Beverage production
Food and Drink
Video Games
Technical/IT
education writing
High end outdoor furniture manufacturer
Logistics
Government Relations/Lobbying
Heritage
Real Estate Corp. Office/not a Realtor
HRO
Publications
Workforce development
Information sciences
clinical research
biotech
Market research
Food and Flavor
Renewable Energy
Pharmaceutical Manufacturing
aerospace data
Science/Research
Biotech/Pharma
Real Estate Investment
Supply chain
Biotech/pharma
technology/SaaS
Biomedical Research
Government Contracting
Librarian
Public Libraries
Research and Development
Specialist policy consulting/research
Veterinary Care
Federal Contracting/Business Development
Aerospace and Defense
Environmental/Cultural Resource Management
Academia--cell and molecular biology
Pharmaceutical R&D
Career & Technical Training
Fundraising in Higher Education; nonclinical, nonacademic
Trades (Supply Chain) Oil and Gas
Wholesale - Apparel
Govt contractor - not directly govt but they pay me
Book publishing
labor union
Educational technology
Research & Development
Business Process Outsourcing
Manufacturing (pharmaceuticals)
Consumer Research
Biotech / Research
Govt contractor - not direct govt but they pay my company who in turn pays me
Market Research
Gaming
Commercial real estate tenancy
Book Publishing
Translation/transcription
Pharmaceuticals R&D
Subsidized Seniors Housing
librarian--Contractor for NASA
Environmental sciences
Federal Government Contracting
State DOT
Analytical Chemistry
Executive Search
Biotechnology
labour/professional organization
Religion/church
Private company, federal contractor
Title/Real Estate
Church ministry
Compliance
Database subscription services
Corporate sustainability
Oil & gas
Craft Beer Industry
Childcare
Procurement/Sourcing/Operations
religious educator
Information services (libraries)
Corporate Sustainability
Environmental Planning
Ministry
Funeral Service
Print / Mail
Planning
real estate
Patent translation
apparel design/product development
Religious institution
Defense Contracting
Chemistry
Architecture
Construction, mining, manufacturing
Government Relations
Automotive
Public libraries
STEM Research
library
Real estate
Supply Chain Distribution
Beauty/service industry
Public Librarian
biological research
Warehousing
Information Technology
Public Health Research
market research
Administrative Work
project management
Administration
Landscaping/Tree Work
accessibility
Product Management
Biotech / life sciences
Consumer Goods Production
Oil and Gas Safety Training
Communications
Real Estate Development
Cosmetology
Journalism
Political Campaigning
Finance/Investment Management but in legal/compliance, so back-office
consumer product design
Housekeeper/cook
Consumer Packaged Goods
Staffing Industrry
Librarian and Assistant Manager of a library
educational publishing
Marketing at a Non Profit
Human Resources
Medical communications
Pharmaceutical Development
Fitness & Entertainment
Public/Environmental Health
Payroll Software
Environmental
Instructional Design and Training
Education (Other)
Supply Chain
Education/vocational
Mining
Life science capability development
Retail pharmacy
Fitness
Consumer Good (Toys)
Music, education
Mining/Mineral Exploration
Philanthropy
Biotechnology, Research and Development
Academic Scientific Research
Government Contractor
Arts, Culture and Heritage
Corporate Learning and Development
Translation
Cannabis
Govtech Software as a Service
Biology/Research
For profit education
pharmaceutical
Saas company/software
Beauty /CPG
Environment, health, and safety
Clean Energy (eg. energy efficiency, renewables, etc.)
Energy: oil & gas
Biotech/pharmaceuticals
Environmental Health + Pest Control
Zoo
Legal Services
Food & Beverage
Political Campaigns
Automtive Repair
Community Foundation
Medical research
Cultural Resources Management/Major Univ.
Veterinarian
public health
chemistry
Actuarial
Librarian in legal setting
Procurement
Academic research (social science)
Manufacturing/Wholesale
research
Government Affairs/Lobbying
Medical Communications
Telecommunications (GPS)
Food demos
Education services (tutoring)
Pharmacuticals
Environmental
Tourism/Heritage -- but for a government building
Scientist
Corporate accounting in death care (funeral & cemetery)
Academic science
Legal services
Biotech manufacturing
Bioscience Company
Fintech
Physical sciences
translation
Science/Research (Academia)
municipal (public) libraries
Policy research
Museum (University Affiliated)
Libraries (Medical)
Industrial Cleaning & Non Hazardous Transport
Quality Assurance Laboratory
Environmental consulting
Tourism
Engineering - Mining
Customer Service
Administration, IT
not-for-profit membership organization
Biotech industry
Instructional Design, Aviation Industry
UX Research
Behavioral Health
Health Research
Sales Operations
Immigration
Fundraising
Biotech
Research - Public Health
Academic research
Office Administration
Defense
Science/research non-academic
Emergency Management
Science research
State and federal contractor
Service and repair
Pharma
Restaurant/Food Service
Publishing (book)
Nuclear research
Scientific R&D
Science (Research, Biology)
Research science
Market Research
Technology
Mental health
Pet
mental health
student paid intern in computing
Paid student intern in Tech
Security
biomedical research
Museum
Public Library (might be considered Government, but that always seems an odd designation...)
Religious institute
Daycare for children under 5 years old
Oil & Gas - Non Destructive Testing
Biotech/Pharmaceuticals
Wholesale supplier
Politics/Campaigns
Commercial furniture
Global Mobility
Archives
Biomedical research
Scientific publishing
Restaurant/Service
Pharmaceutical Manufacturing
Politics/campaigns
Library Page (Public county library)
Government contractor
University tech transfer (higher ed/marketing/writing)
Urban Planning
Biotech / Pharmaceutical Industry
Entrepreneur high net worth
Fundraising for a university
Energy (oil & gas & associated products, renewable power, etc)
Architecture / Engineering
Government contracting (data analytics and program evaluations)
Research at a National Laboratory
Bio tech
Cultural Heritage
Consumer Goods
Wholesale/Distrbution
music therapy
Biotech/Food Safety
Marketing technology
State-level public transportation agency
Real World Evidence (data for pharma research)
International development
Early Childhood Education
public libraries
Architect
Children's Book Wholesale
Public safety
Biological Sciences
Library/Archive/Research Center
Training and Professional Services
Science academia
Biotech research
Science and reasearch
Government contracting
Landed Estate
My company sells & services various types of printers, mostly Kyocera.
Medical Sciences
Apparel
Mortgage
Software/programming
Energy - Oil and Gas
Airline
Architect
Research & Development (Defense Industry)
Libraries
Religious (church)
Direct support  professional  in a group  home
Commercial Real Estate - Private Equity
Psychology
Finance
Biotechnology/Life Sciences
Library/Archive
Organized Labor
e-learning
Real Estate/ Mortgage
Fundraising
International development
Distribution
Program management
Big Pharma
Oil and gas
Automotive repair
Wine Importing/Distribution
Laboratory research
Aerospace/Aviation
I work for Indeed.com
Archives/Library Science
Geospatial
Waste and recycling
Public Library (Non-profit, but also government?)
Customer service/publishing-adjacent
Food/Beverage Manufacturing- Quality/Laboratory
Academia
IT
consumer products
Library--public
Veterinary services
Wherever I'm assigned via the union
Student
life sciences
Engineering and Environmental Consulting
Restaurant
Communications/publications
Food
Faith/spirituality
awards and engraving
Funeral
Political Consulting
Library/Information managment
Learning and Development
Data Analytics
Luxury Fashion
Clergy
Data Entry
Wholesale and retail trade
E-commerce
Food processing
Architectural/Land Planning/Civil Engineering
Gaming (Gambling)
Regulatory Affairs- nutraceuticals
Manufacturing : corporate admin support
Real Estate Investment Support
Government relations
Household Services
Academic publishing
Professional training
Clinical Research
Software
Veterinary
Contract Research
Grocery Distribution
scientific research
Tailoring Service
veterinary biotech
Small business/service company
Biotech Research
Information services (library)
Food Service
Stay-at-home parent
Real estate software
Construction
Commercial Building Material Distribution
Consumer Product Organization
Child care
Research and Development, Food and Beverage
IT Security
FinTech/Payment Processing
Lobbying and consulting
Chaplain
Science and Natural Resource Management
Mental health therapist
Caregiver
Food Service --- Baking
Publishing (academic)
Labor Union
Professional Public Librarian
Cancer research, not for profit
Wholesale Trade
Science publishing
Theatre
medical research
restoration
IT MSP
public libraries
Not for profit education consultancy
Professional regulation
Geologist
Scientific analysis
Low-Voltage Equipment
Architecture and engineering consulting and design
oceanography research
Clinical & Translational Reserach
Food Distribution
Construction, HVAC
Veterinary Diagnostics
Education: preschool
Customer service/call center
Pharma/biotech
Nonprofit scholarly society publisher
Medical Device
Animal Caretaker
Environmental health and safety compliance
Environment - Oil and Gas
Food manufacturing
Beauty
Unions
Pharmaceuticals
Libraries (public)
Consumer goods
Energy Supplier
Food & Beverages
Manufacturing, Chemical
digital marketing within a book publishing company (please reclassify as you see fit)
Pharmaceutical/Contract Research Organization
Beverage
Food Manufacturing
trade association
Science Research, government
Health and fitness
Real Estate/Development
Science/government
Real estate: title & escrow
Think tank
Family Office
Environmental Sciences
Human Capital Management
Educational publishing / ed tech
cultural (museums/galleries)
Museums & archives
Oil and gas
Shared office space
Beverage Production
Political consulting
Public Libraries
social science research - not quite academia, not quite nonprofit, not quite consulting
Biotech/pharmaceuticals
In-House Marketing
Trade association
Life sciences (not in academia)
Professional services
individual & family services
Medical Technology
BioTech
Outdoor industry/repair and maintenance
National laboratory
Analytical lab
STEM medical research
Non profit theater
Animal health industry
Environmental compliance
Disability services
Libraries / Archives / Information
Analytics
Travel
Executive Leadership Servis
Corporate Travel Industry
Business Process Outsourcing
biotechnology
Aerospace & Defense
Drug development
Telecommunications
E-commerce
Gyms
Auction House
government contractor, international development
Horticulture (Admin)
Apparel
Early childhood education
Energy, Oil & Gas
Library
Summer camp
Food distribution
Counselling
Administration (food service)
Commercial Real Estate
CBD Manufacturing
video games
Brain research
Wine
Libraries (Public)
Protective coatings
Translation
Biotech (R&D)
Science (Chemistry R&D)
Production and Manufacturing
Global Health Consulting
Research Institute
Mining & Mineral Processing
Museum Library
Online education startup (non-technical role)
Academic Science
Private investigator at large firm
ECommerce
Consultant
Research
Chemical
Aerospace and Defense Manufacturing
Executive search
Nonprofit - LORT D Theater
Science
childcare
Pharmaceutical manufacturing
Concrete
Animal Health
clinical trials research coordination
AmeriCorps
Law Library
Vet
Printing
Costruction admin
Life Sciences
Virtual reality
Early Education (corporate office)
Community Management
TIC (Testing, Inspection & Certification)
Food Manufacture
Biologist
Pet care industry
Real Estate
Medical Research
Food production
Renewable Energy
Instructional Designer
School District Pre-K-12
Science - QC lab
publishing/edtech
Pest Control
Food & Nutrition
Defense Contractor
Library (university)
Public safety
Restaurant Group
Pharmaceutical industry
Ed Tech
Corporate service management
CALL CENTER
facilities
commodities trading
Union/political organizing
Non-profit health care (I couldn’t select both)
academic research
mortgage
Outsourced Customer Service/Tech Support Call Centre
Interpretation
Pharmaceutical research (chemist)
Religion
Library science / part-time work/study
Public Health- state level
Tabletop Gaming
Winery regulatory compliance
Administrative Support
User Experience (UX) Research
Education Consulting
Contract research organisation
Coffee - Importing
Payment Processing
Library and Information Services
University research
Academic Press Production
Pharmaceutical/Biotech
Wine Wholesale
Public affairs / PR
Large University Administration
Construction / Stone industry
Aerospace
Computing/Tech + Higher Ed + Nonprofit
Research at a State University
Office Admin
Agriculture/Agriculture Chemical
R&D in Manufacturing
Library and Information Science
Fashion
Information
Game development
Private Equity
Veterinary
Education research- mix of Edtech and non profits
Healthcare Information Technology
Fast casual restaurant
I work in the finance function of a large global conglomerate
Beverage Distribution
Nonprofit - legal department
Pharmaceutical Research
Software Development / IT
Commercial Landscaping
Labor
Ecommerce - Technology
Oil
Child Care Resource and Referral Agency
Warehouse- Food and Beverage
Video games
Administrative
Forensics
Educational assessment
strategy consulting
Data/Institutional Research in Higher Education
Science (Laboratory)
Military
Renewable fuels
Saas
International organization (UN)
Customer service
Clinical research
I have two jobs. Marketing / Business
Non Profit Theater
Pharmaceuticals/Biotechnology
Beauty, Cosmetics, Fragrance
Film Post-Production
Construction
Childcare
Government Contractor (R&D)
parking
Automotive technician
Academia
Language Services
Zoos and Aquariums
Toxicology
Academia / Research
Libraries/Museums/Archives
Medical supply Wholesale & Warehousing
International organisations
Music
Educational Research
Consumer/Packaged Goods
Religion
Video Game Industry
Energy/oil
Library at a University
Diagnostic Medical Devices
Energy Sector: Oil & Gas
Religious (synagogue)
Preclinical Research
Healthcare technology
Music Licensing
Operational Training
Sports
Education service provider
Entertainment data
Real estate servicea
Industrial Supply
Beverage & Spirits
Outsourcing Services
Freelance Journalism
Lobbying
Animal welfare
Food service
Nonprofit association
Accessibility
LIBRARIES
Food manufacturers
Oil and gas exploration
Textbook Copyeditor
Interior Design (commercial)
Janitorial
University libraries
Pharmaceutical research & development
Funding Intermediary
Archaeologist
Restaurant
Auto Mfg.
Translation and Localization
Soft Drinks Manufacturing
Government contract
not-for-profit health research consulting
Archives/Libraries
Real Estate Title Company
Pharma/biotechnology
Environment
Counseling
Game Development
Automotive
art appraisal
economics
Third sector/non profit - medical membership in UK
Software Development
Beer sales
Scientific Research
Retail real estate
Grocery delivery
Food Industry
Performing Arts
Data Breach
Biotech/Drug Development
CPG / Retail
Heritage
Public library
Property Management
Architecture/Construction
Religious
Education start-up
Internet
Online education
finance
Information Management/Archives
Strategy
Research/Social Science
Research (health)
Affordable Housing Real Estate Development (nonprofit)
Public Library
e-comm
Wholesale textile manufacture and sales
Sales Operations
Natural resources
Per Sitter
Pension Benefit Administration
Lab Science (Biotech)
Wholesale
Horticulture
Supply Chain!
Research - academic
Pet Care
Pharmaceutical research
Pharmaceutical Industry
Private Sector Emergency Management
Consumer Product Goods
Clinical Research
Science/Biotech
Publishing: Science, Academic, Technical
Real Estate Affordable Housing
Retail call center
Libraries and Archives
Call center
Clinical trials
Fashion/e-commerce
Conservation
Clinical research and development
Mining
Travel
Games development
Digital
Consumer Products design
FMCG development
Automotive Repair
Aerospace and Defense/Government Contracting
Survey Research/Public Policy Research
Service
Veterinary m&a
Language Services company, unsure the broad category to use. Our clients are branding agencies, and their clients are frequently (but not always) pharmaceutical companies.
Procurement
environmental compliance/engineering
Church
Human services
Real estate valuation
Communication Research
Human Resources
Pharma & Biotech
R&D
Energy (Oil & Gas)
Public Opinion Research
Defense
Warehouse
Association Management
Consumer packaged goods
Technology
Association

In [72]:
#check for non string values in the industry column
df_salary['industry'].apply(lambda x: type(x)).value_counts()

<class 'str'>      27988
<class 'float'>       74
Name: industry, dtype: int64

In [73]:
#show the rows where the industry is not a string
df_salary[df_salary['industry'].apply(lambda x: type(x) != str)]

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
360,4/27/2021 11:08:41,45-54,NaN,Proposal Manager,NaN,"87,938",4000.0,USD,NaN,NaN,US,North Carolina,Wilmington,21 - 30 years,11 - 20 years,College degree,Woman,White
645,4/27/2021 11:12:59,35-44,NaN,Legal editor,NaN,"82,000",8200.0,USD,NaN,NaN,USA,New York,Rochester,11 - 20 years,11 - 20 years,Master's degree,Woman,White
1604,4/27/2021 11:28:20,25-34,NaN,Commissioning Editor,NaN,"36,000",NaN,GBP,NaN,NaN,UK,NaN,London,11 - 20 years,8 - 10 years,Master's degree,Woman,"Asian or Asian American, White"
2055,4/27/2021 11:37:01,35-44,NaN,Research Manager,NaN,"115,000",NaN,USD,NaN,NaN,US,District of Columbia,DC,21 - 30 years,11 - 20 years,Master's degree,Woman,White
2063,4/27/2021 11:37:12,35-44,NaN,office manager,manage a building vs managing employees,"40,000",NaN,USD,NaN,NaN,USA,Nevada,Las Vegas,11 - 20 years,11 - 20 years,High School,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27730,3/27/2022 10:59:33,18-24,NaN,chief executive official,NaN,50,NaN,ZAR,NaN,NaN,spain,NaN,castellon,8 - 10 years,11 - 20 years,NaN,NaN,NaN
27853,8/4/2022 18:33:50,18-24,NaN,Archivist,NaN,50000,NaN,USD,NaN,NaN,United States,Wisconsin,Madison,2 - 4 years,2 - 4 years,Master's degree,Man,White
27902,11/15/2022 18:24:41,35-44,NaN,Senior IT Consultant,NaN,120000000,NaN,Other,COP,NaN,Colombia,NaN,Bogota,11 - 20 years,8 - 10 years,College degree,Man,"Hispanic, Latino, or Spanish origin"
28006,2/6/2024 9:07:45,under 18,NaN,vv,NaN,76,NaN,USD,NaN,NaN,us,NaN,irving,1 year or less,1 year or less,NaN,NaN,NaN
28021,3/20/2024 13:20:31,18-24,NaN,bum,supreme,10000000,299.0,USD,rice,ewad,usa,Alaska,Rice,41 years or more,8 - 10 years,"Professional degree (MD, JD, etc.)",Non-binary,White

In [74]:
#drop the rows where the industry is not a string
df_salary = df_salary.dropna(subset=['industry'])

In [75]:
#sanity check
df_salary['industry'].apply(lambda x: type(x)).value_counts()

<class 'str'>    27988
Name: industry, dtype: int64

In [76]:
#save it as df_salary_toclean.csv
df_salary.to_csv('data/df_salary_toclean.csv', index=False)

#CHECKPOINT BB

In [102]:
#load the data set
df_salary_toclean = pd.read_csv('data/df_salary_toclean.csv')

In [131]:
# Helper function to clean and fix the text
def fixed(text):
    badchars = "/-&*_.,+()? "
    res = ""
    for c in text:
        if c not in badchars:
            res += c
    return res.lower().strip()

# Define a function to categorize industries
def categorize_industry(text):
    # Handle case where text might be NaN or empty
    if not isinstance(text, str) or text.strip() == "":
        return "Other"

    # Use NLP to extract entities from the text
    doc = nlp(text)
    nlp_entities = [ent.text for ent in doc.ents]
    
    industries = ["Education", "Computing or Tech", "Accounting", "Banking & Finance", "Healthcare", 
                  "Manufacturing", "Retail", "Hospitality", "Transportation", "Media", "Art & Theatre", "Entertainment", 
                  "Telecommunications", "Energy", "Consulting", "Government", "Nonprofit", "Law", "Marketing", 
                  "Social Work", "Insurance", "Pharmaceuticals", "Real Estate", "Construction", "Agriculture",
                  "HR","Sales", "Research", "Transport","Oil and Gas", "Automotive", "Engineering", "Science",
                  "Fashion", "Academia", "Biotech", "Food & Beverage", "Sports", "Leisure, Sport & Tourism",
                  "Other"]

    # First, check for matches in NLP entities
    if nlp_entities:
        for ent in nlp_entities:
            if ent in industries:
                return ent
            for industry in industries:
                if fixed(ent) in fixed(industry) or fixed(industry) in fixed(ent):
                    return ent
            #else:
                #print(f"Entity '{ent}' not found in industries")
    
    # If no matches in NLP entities, check the fixed text
    cleaned_text = fixed(text)
    for industry in industries:
        if fixed(industry) in cleaned_text or cleaned_text in fixed(industry):
            return industry
    if "public" in cleaned_text or "government" in cleaned_text or "state" in cleaned_text or "govt" in cleaned_text or "ministry" in cleaned_text:
        return "Government"
    elif "reserach" in cleaned_text or "research" in cleaned_text:
        return "Research"
    elif "science" in cleaned_text or "scientific" in cleaned_text or "bio" in cleaned_text or "chemistry" in cleaned_text:
        return "Science"
    elif "data" in cleaned_text or "analytics" in cleaned_text or "it" in cleaned_text or "tech" in cleaned_text or "computing" in cleaned_text:
        return "Computing or Tech"
    elif "art" in cleaned_text or "theatre" in cleaned_text:
        return "Art & Theatre"
    elif "bio" in cleaned_text or "biotech" in cleaned_text or "pharma" in cleaned_text:
        return "Biotech"
    elif "publishing" in cleaned_text:
        return "Media"
    elif "food" in cleaned_text or "beverage" in cleaned_text:
        return "Food & Beverage"
    elif "apparel" in cleaned_text or "clothing" in cleaned_text or "fashion" in cleaned_text:
        return "Fashion"
    elif "academic" in cleaned_text or "academia" in cleaned_text or "phd" in cleaned_text or "professor" in cleaned_text or "university" in cleaned_text:
        return "Academia"
    elif "gas" in cleaned_text or "oil" in cleaned_text:
        return "Oil and Gas"
    elif "space" in cleaned_text:
        return "Aerospace"
    elif "libraries" in cleaned_text or "library" in cleaned_text or "librarian" in cleaned_text or "museum" in cleaned_text or "cultural" in cleaned_text or "learn" in cleaned_text or "development" in cleaned_text:
        return "Education"
    elif "game" in cleaned_text or "gaming" in cleaned_text or "esports" in cleaned_text:
        return "Gaming"
    elif "health" in cleaned_text:
        return "Healthcare"
    # If no match is found, return the original text
    #print(f"Could not categorize industry: {text}")
    return text


df_salary_toclean['industry_category'] = df_salary_toclean['industry'].progress_apply(categorize_industry)

100%|██████████| 27988/27988 [03:34<00:00, 130.49it/s]

In [133]:
#do the same processing on the us names so that we only look at rows where the country is the US
df_salary_toclean['country'] = df_salary_toclean['country'].apply(lambda x: 'US' if x.lower().strip() in us_names else x)
df_salary_toclean = df_salary_toclean[df_salary_toclean['country'] == 'US']

In [136]:
#save it as df_salary_US.csv
df_salary_toclean.to_csv('data/df_salary_US.csv', index=False)

# CHECKPOINT BB DRINK SOME WATER

In [137]:
#Load the data set
df_salary_US = pd.read_csv('data/df_salary_US.csv')
#WHAT WAS I SUPPOSED TO DO AGAIN

In [139]:
#get to a point where you can generate the minimum, mean, and maximum by state.

#DROP NAN VALUES IN THE SALARY COLUMN
df_salary_US['salary'] = pd.to_numeric(df_salary_US['salary'], errors='coerce')
df_salary_US = df_salary_US.dropna(subset=['salary'])

#generate the minimum, mean, and maximum by state.
df_salary_US.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values('mean', ascending=False)

                                       min           mean       max
state
Michigan, Texas, Washington       340000.0  340000.000000  340000.0
California, Oregon                200000.0  200000.000000  200000.0
California, Colorado              176000.0  176000.000000  176000.0
New Jersey, New York              135000.0  138666.666667  141000.0
Indiana, Massachusetts            132000.0  132000.000000  132000.0
...                                    ...            ...       ...
South Dakota                       33000.0   46625.000000   60000.0
District of Columbia, Washington   35000.0   35000.000000   35000.0
Delaware, Pennsylvania             35000.0   35000.000000   35000.0
Alabama, California                29120.0   29120.000000   29120.0
Maryland, New York                 14000.0   14000.000000   14000.0

[81 rows x 3 columns]

In [140]:
#SAVE THE DATA SET AS df_salary_US_cleaned.csv
df_salary_US.to_csv('data/df_salary_US_cleaned.csv', index=False)

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

In [141]:
#load the dataframe
df_salary = pd.read_csv('data/df_salary_US_cleaned.csv')

In [144]:
#format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`
df_salary.groupby('state')['salary'].agg(['min', 'mean', 'max']).sort_values('mean', ascending=False).applymap(lambda x: f"${x:,.2f}")

                                          min         mean          max
state
Michigan, Texas, Washington       $340,000.00  $340,000.00  $340,000.00
California, Oregon                $200,000.00  $200,000.00  $200,000.00
California, Colorado              $176,000.00  $176,000.00  $176,000.00
New Jersey, New York              $135,000.00  $138,666.67  $141,000.00
Indiana, Massachusetts            $132,000.00  $132,000.00  $132,000.00
...                                       ...          ...          ...
South Dakota                       $33,000.00   $46,625.00   $60,000.00
District of Columbia, Washington   $35,000.00   $35,000.00   $35,000.00
Delaware, Pennsylvania             $35,000.00   $35,000.00   $35,000.00
Alabama, California                $29,120.00   $29,120.00   $29,120.00
Maryland, New York                 $14,000.00   $14,000.00   $14,000.00

[81 rows x 3 columns]

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

In [146]:
#Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

#drop the non string values in the state column
df_salary['state'] = df_salary['state'].apply(lambda x: x if isinstance(x, str) else None)
df_salary = df_salary.dropna(subset=['state'])

#filter out the non-single-states
df_salary = df_salary[df_salary['state'].apply(lambda x: len(x.split(',')) == 1)]
df_salary

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race,industry_category
0,4/27/2021 11:05:08,55-64,Environmental regulation,Quality Assurance Lead,NaN,58.0,NaN,USD,NaN,NaN,US,Maryland,Baltimore,21 - 30 years,8 - 10 years,Master's degree,Woman,White,Environmental regulation
1,4/27/2021 11:16:37,45-54,Education (Primary/Secondary),Special Education Teacher,NaN,38.0,0.0,USD,NaN,NaN,US,Idaho,Pocatello,21 - 30 years,11 - 20 years,Master's degree,Woman,White,Education
2,4/27/2021 11:17:54,25-34,Media & Digital,Managing Editor,NaN,61.0,0.0,USD,NaN,NaN,US,Maryland,Bethesda,5-7 years,5-7 years,College degree,Woman,White,Media & Digital
3,4/27/2021 11:28:23,25-34,Agriculture or Forestry,Chief Data Scientist,NaN,130.0,0.0,USD,NaN,NaN,US,New Mexico,Santa Fe,8 - 10 years,8 - 10 years,PhD,Woman,White,Agriculture
4,4/27/2021 12:24:27,45-54,Retail,Operations Manager,NaN,35.0,0.0,USD,NaN,NaN,US,West Virginia,Charleston,31 - 40 years,5-7 years,Some college,Woman,White,Retail
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6429,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000.0,0.0,USD,NaN,NaN,US,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White,Tech
6430,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000.0,15000.0,USD,NaN,NaN,US,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American,Tech
6431,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000.0,15000.0,USD,NaN,NaN,US,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White,Tech
6432,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000.0,NaN,USD,NaN,NaN,US,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White,Healthcare
6433,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000.0,NaN,USD,NaN,NaN,US,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White,Tech

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)

In [150]:
#the quantiles are 0, 5, 25, 50, 75, 95, 100
#a quantile is a value that separates the data into 100 equal parts.
#the 50th quantile is the median

#generate the quantiles for the salary column
df_salary['salary'] = pd.to_numeric(df_salary['salary'], errors='coerce')
df_salary = df_salary.dropna(subset=['salary'])

#make a new column for the quantiles
df_salary['quantile'] = pd.qcut(df_salary['salary'], q=[0, 0.05, 0.25, 0.5, 0.75, 0.95, 1], labels=['0-5%', '5-25%', '25-50%', '50-75%', '75-95%', '95-100%'])

#do a c0unt by state and quantile
df_salary.groupby(['state', 'quantile']).size().unstack().fillna(0).astype(int)

quantile              0-5%  5-25%  25-50%  50-75%  75-95%  95-100%
state
Alabama                  7     11      11       9       2        1
Alaska                   0      6       5       2       0        1
Arizona                  6     19      18      19      20        1
Arkansas                 3      7       8       4       2        0
California              23     74     163     161     231       86
Colorado                 2     25      47      45      36        2
Connecticut              3     11      16      25      12        2
Delaware                 1      1       2       2       2        1
District of Columbia     4     22      49      69      57       15
Florida                 19     49      52      40      22        6
Georgia                 15     38      52      29      30        8
Hawaii                   1      3       3       0       1        0
Idaho                    2     14      10       6       4        1
Illinois                13     68      90      63      67       14
Indiana                  7     20      36      19      10        1
Iowa                     6     11      11      10       4        0
Kansas                   3     13      12       4       6        0
Kentucky                 8     19      25       6       7        0
Louisiana                3      9      13       8       4        1
Maine                    1     21      11      11       3        0
Maryland                10     29      36      47      34        4
Massachusetts            7     50     113     106     101       21
Michigan                11     41      45      35      24        2
Minnesota                7     39      48      61      30        3
Mississippi              2      5       1       3       1        0
Missouri                10     41      31      20      11        1
Montana                  3      6       4       6       3        0
Nebraska                 4      8       7       7       5        1
Nevada                   2      5       7       6       5        0
New Hampshire            6     12       6       5       4        1
New Jersey               8     22      33      24      28        5
New Mexico               2      9       3       5       6        0
New York                16     75     146     146     149       61
North Carolina           8     47      45      47      24        0
North Dakota             1      3       9       2       0        0
Ohio                    19     58      73      46      20        6
Oklahoma                 1     15       7       4       2        0
Oregon                   6     36      44      42      34       10
Pennsylvania            22     66      74      50      47        9
Rhode Island             1      7       4       4       3        0
South Carolina           4     14      13       6       0        1
South Dakota             1      2       1       0       0        0
Tennessee                1     26      27       8       9        3
Texas                   18     68     103      92      73       17
Utah                     4     10      17       9       8        2
Vermont                  0      8       6       2       1        0
Virginia                 9     44      53      60      45        9
Washington              11     32      83      74      75       14
West Virginia            2      2       3       0       1        0
Wisconsin               15     32      34      28      16        5
Wyoming                  0      4       1       1       0        0